<% include partials/header %>
<div class="home">
    <main>
        <h3>About Us</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, blanditiis iusto. Non eveniet delectus
            ea, ullam hic ab neque voluptatem maxime vero exercitationem sit ipsum quaerat beatae itaque minima sed,
            autem atque alias fuga placeat quas, suscipit soluta iste tempora. Sequi dolorum accusantium quam delectus!
            Maiores fuga autem quasi aliquid!</p>
    </main>
    <aside>
        <h1><i class="fas fa-campground"></i>Camp-Site</h1>
        <a href="/campgrounds">Go to campgrounds</a>
    </aside>
</div>

<% include partials/footer %>