<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2 class="text-center">Create a Campground</h2>
            <form action='/campgrounds' method="POST">
                <div class="form-group">
                    <input type="text" id="name" class='form-control' name="campgrounds[location]"
                        placeholder="Location">
                </div>
                <p>Upload Image</p>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" disabled>
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <input type="hidden"
                    value="https://images.pexels.com/photos/1758303/pexels-photo-1758303.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    name="campgrounds[image]">


                <div class="mt-3">
                    <textarea class="form-control" id="description" rows="4"
                        name="campgrounds[description]">Description...</textarea>
                </div>
                <button type="submit" class="mt-3 btn btn-block btn-primary">Submit</button>
            </form>
            <a href="/">Go back</a>
        </div>
    </div>
</div>



<% include ../partials/footer %>