<% include ../partials/header %>
<div class="row">
    <div class="col-md-6 mx-auto">
        <h2 class="text-center">Comment <%= campground.location %></h2>

        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="comment[text]">
            </div>
            <button type="submit" class="btn btn-block btn-primary">Submit</button>


        </form>
    </div>
</div>
<% include ../partials/footer %>