<div class="row mb-3">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h1>Register Account</h1>
            <form action="/users/register" method="POST">
        <label for="name">Name:</label>
        <input type="text" name='name' value="{{name}}" class="form-control" required>
        <label for="email">Email:</label>
        <input type="email" name='email'required value="{{email}}" class="form-control">
        <label for="password">Password:</label>
        <input type="text" name='password' class="form-control" value="{{password}}" required>
        <label for="passwordconfirm">Confirm password:</label>
        <input type="text" name='passwordconfirm' class="form-control" value="{{passwordconfirm}}" required>
        <input type="submit"  class="btn btn-primary mt-3" value="Register"/>
            </form>
        </div>
    </div>
</div>