.home {
    display: flex;
    align-items: center;
    min-height: 90vh;
    background: url('https://images.pexels.com/photos/45241/tent-camp-night-star-45241.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') center center/cover;
}

main {

  color: #efce09;
  max-width: 50%;
}

aside {
    
}